.main-header
  .main-header__left-box
    %h2{class:"main-header__left-box__group-name"}
      ハゲの会
    %ul{class:"main-header__lleft-box__menber-list"}
      Menber:
      %li{class:"main-header__left-box__menber-list-name"}
        ご来光
      %li{class:"main-header__left-box__menber-list-name"}
        頭皮砂漠
  .main-header__right-box
    = link_to "Edit", "#", class:"main-header__right-box__button"
