.main-messages
  .main-messages__message
    .main-messages__message__user-info
      %p.main-messages__message__user-info__talker
        頭皮砂漠
      %p.main-messages__message__user-info__date
        2019/02/23(土) 11:26:00
    %p.main-messages__message__text
      暗いハゲより明るいハゲ。
  .main-messages__message
    .main-messages__message__user-info
      %p.main-messages__message__user-info__talker
        ご来光
      %p.main-messages__message__user-info__date
        2019/02/23(土) 11:25:00
    %p.main-messages__message__text
      俺らが目指すキャラは、トレンディーエンジェルの斎藤さんだ
