%div{class: "flash-box"}
  グループを作成しました

%div{class: "container"}
  %div{class: "side"}
    %div{class: "side-header"}
    %div{class: "side-groups"}
  %div{class: "main"}
    %div{class: "main-header"}
    %div{class: "main-message"}
    %div{class: "main-form"}
