.main-header
  .main-header__left-box
    %h2.main-header__left-box__group-name
      =@group.name
    %ul.main-header__lleft-box__menber-list
      Menber:
      - @group.users.each do |user|
        %li.main-header__left-box__menber-list-name
          =user.nickname
  .main-header__right-box
    = link_to "Edit", edit_group_path(@group), class:"main-header__right-box__button"
