.main-messages
  - @messages.each do |message|
    .main-messages__message
      .main-messages__message__user-info
        %p.main-messages__message__user-info__talker
          = message.user.nickname
        %p.main-messages__message__user-info__date
          = message.created_at.strftime("%Y/%m/%d %H:%M")
        -# - if message.content.present?
        %p.main-messages__message__text
          = message.content
      = image_tag message.image.url, class: 'main-messages__message____image' if message.image.present?
