<h2>記事投稿画面</h2>
<h2>form_tag</h2>
<%= form_tag('/miniblog', method: :post) do %>
  <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
  <input type="submit" value="SENT">
<% end %>

<h2>form_with</h2>
<%= form_with(url: "/miniblog", local: true) do |form| %>
  <%= form.text_area :text %>
  <%= form.submit %>
<% end %>
