&-bar {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;

  &__header {
    background-color: #253141;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: $side_padding;
    padding-top: 38px;
    &__user-name {
      color: $white;
      float: left;
      font-size: 16px;
      font-weight: bold;
    }
    &__menu-list {
      float: right;
      li {
        display: inline;
        .icon {
          color: $white;
        }
      }
    }
  }
  &__groups {
    background-color: #2F3E51;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    padding: $side_padding;
    padding-top: 20px;
    a {text-decoration: none;}
    &__group {
      padding-bottom: 40px;
      &-name {
        font-size: 15px;
        font-weight: bold;
        color: $white;
        padding-bottom: 5px;
      }
      &-latest-message {
        font-size: 11px;
        font-weight: bold;
        color: $white;
      }
    }
  }
}
