@import "./reset";
@import "./variable";
@import "font-awesome";


.flash-box {
  background-color: #38AEF0;
}
.container {
  height: 100vh;
  width:100vw;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  .side-bar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    @import "modules/side-bar"
  }
  .main {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    //Internal grid layout settings
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 90px;
    &__header {
      background-color: #EEE;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      padding: $main_psding;
    }
    &__message {
      background-color: #FAFAFA;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      padding: $main_psding;
    }
    &__form {
      background-color: #DDD;
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      padding: $main_psding;
      padding-top: 20px;

      &-text {
        padding: 0 10px;
        box-sizing: border-box;
        height: 50px;
      }
      &-image {
        right: 10;
        .hidden {
          display: none;
        }
      }
      &-send {
        background-color: #38AEF0;
        height: 50px;
        width: 100px;
        margin-left: 40px;
      }
    }
  }
}
